---
layout: archive
title: ""
author_profile: true
---

<h1 class="title-highlighter green-highlight">Hello!</h1>

<p id="oneliner">This is the homepage and blog of Daniel Federschmidt, a computer science student at <a href="https://www.tum.de/">TUM</a>. For more 
information about me, <a href="/about">see here</a>.</p>


<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

